---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Contact">
  <Container>
    <Sectionhead title="Contact Us" description="We are here to help." />

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">
          Have any questions or have something to say?
        </h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Fill up the form or send email or call phone.
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <i class="fa-light fa-location-dot text-gray-400 w-4 h-4"></i>
            <span>Kathmandu, Nepal</span>
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <i class="fa-light fa-envelope text-gray-400 w-4 h-4"></i>
            <a href="mailto:bsccsitnepalofficial@gmail.com" class="underline"
              >bsccsitnepalofficial@gmail.com</a
            >
          </div>
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <i class="fa-light fa-phone text-gray-400 w-4 h-4"></i>
            <a href="tel:+9779823404657" class="underline">+977 9823404657</a>
          </div>
        </div>

        <div
          class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md mt-5"
          role="alert">
          <div class="flex">
            <div class="py-1">
              <svg
                class="fill-current h-6 w-6 text-teal-500 mr-4"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20">
                <path
                  d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z">
                </path>
              </svg>
            </div>
            <div>
              <p class="font-bold">
                Also, We are very responsive on
                <a href="https://facebook.bsccsitnepal.com" class="underline text-blue-500">
                  Facebook
                </a>
              </p>
              <p class="text-sm">Please reach out there for immediate response.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-slate-100 p-5 md:p-8 rounded-xl">
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
