---
interface Props {
  title: string;
  description?: string;
  align?: "center" | "left" | "right";
}

const { title, description, align = "center" } = Astro.props;
---

<div
  class:list={["mt-16", align === "center" && "text-center"]}
  class="max-w-4xl mx-auto flex flex-col items-center justify-center">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight mt-4 text-center">
    {title}
  </h2>
  {
    description && (
      <p class="text-lg mt-4 text-slate-600 text-center [text-wrap:pretty]">{description}</p>
    )
  }
</div>
